.footer {
    background-color: #FDBB2DBB;
}
.container {
}
.footer__out {
}
.footer__inner {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logolink {
}
.header__logo {
}
.footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 131px;
}
.footer__item {
}
.footer__item-link {
}
.footer__item-link-logo {
}